.date_abs {
  position: absolute;
  height: 5%;
  width: 30%;
  left: 60%;
  top: 2.8%;
  color: #fff;
}
.date_abs .el-row {
  margin-bottom: 20px;
}
.date_abs .el-row:last-child {
  margin-bottom: 0;
}
.date_abs .el-col {
  border-radius: 4px;
}
.date_abs .el-input__suffix {
  right: 0px !important;
  background-color: #ff6600 !important;
  border-radius: 0px 5px 5px 0px !important;
}
.date_abs .el-input--mini .el-input__inner {
  width: 100% !important;
  text-align: center !important;
  font-size: 0.9rem !important;
  color: black !important;
}
.date_abs .el-select .el-input .el-select__caret {
  color: #fff !important;
}
.date_abs .row1_col1 {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
  align-items: center;
}
.date_abs .row1_col2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date_abs .row_col3 {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date_abs .row2 {
  height: 62%;
  border: 1px solid;
}
.date_abs .row1 {
  height: 100%;
  font-size: 1.3rem;
}
.cw_page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.cw_page .heard {
  height: 33%;
  width: 100%;
}
.cw_page .xian {
  height: 1%;
  width: 100%;
}
.cw_page .bays {
  background-color: rgba(49, 69, 86, 0.5);
}
.cw_page .head_row_1 {
  height: 100%;
  width: 100%;
}
.cw_page .head_row_2 {
  height: 100%;
}
.cw_page .link_2cla {
  height: 85%;
  width: 100%;
}
.cw_page .danger_btn {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 9999;
  border: none;
  background: #4A5869;
  line-height: 10px;
}
.cw_page .heardts {
  height: 32%;
}
.zfbank .tenhy_held {
  height: 15%;
}
.zfbank .tenhy_heldzc {
  height: 16%;
  position: relative;
}
.zfbank .tenhy_heldzczq {
  height: 10%;
}
.zfbank .bor_btom1_1 {
  height: 100%;
  width: 10%;
  float: left;
  border-bottom: 2px solid #fff;
  position: relative;
}
.zfbank .bor_btom1_1zc {
  height: 100%;
  width: 24%;
  float: left;
  border-bottom: 2px solid #fff;
  position: relative;
}
.zfbank .img_1 {
  background-size: 100% 100%;
  width: 49%;
  position: absolute;
  bottom: 0;
}
.zfbank .img_1zc {
  background-size: 100% 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
}
.zfbank .bor_btom1_2 {
  height: 100%;
  width: 23%;
  margin-left: 10%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  text-align: left;
  display: flex;
  padding-bottom: 2px;
  align-items: flex-end;
}
.zfbank .bor_btom1_2zc {
  height: 100%;
  width: 48%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  text-align: left;
  display: flex;
  padding-bottom: 2px;
  align-items: flex-end;
  float: left;
}
.zfbank .bor_btom1_2fl {
  height: 100%;
  width: 15%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2vw;
  text-align: center;
  display: flex;
  padding-bottom: 2px;
  align-items: center;
  padding-left: 3%;
}
.zfbank .bar_qb {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}
.gov_btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#304564));
  background: linear-gradient(#EBEBEB, #304564);
  background: -o-linear-gradient(#EBEBEB, #304564);
  color: #fff;
  position: absolute;
  border: 1px solid #EBEBEB;
  width: 100px;
  height: 80%;
  background-color: #EBEBEB;
  border-radius: 5px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1px;
  top: 20%;
  right: 5%;
  cursor: pointer;
}
@media screen and (min-width: 1300px) and (max-width: 1370px) {
  .date_abs {
    left: 60%;
    top: 2.2%;
  }
  .pie_ding {
    font-size: 1vw;
  }
}
