.page6 {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.page6 .header {
  height: 8%;
  width: 100%;
}
.page6 .bottom {
  height: 92%;
  width: 100%;
}
.page6 .el-row {
  margin-bottom: 20px;
}
.page6 .el-row:last-child {
  margin-bottom: 0;
}
.page6 .el-col {
  border-radius: 4px;
}
.page6 .select_wid {
  width: 9%!important;
}
.page6 .select_wid1 {
  width: 6%;
}
.page6 .text_sty {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}
.page6 .text_heig {
  line-height: 50px;
}
.page6 .select_col {
  padding-top: 6px;
}
.page6 .el-input__suffix {
  right: 0px !important;
  background-color: #ff6600 !important;
  border-radius: 0px 5px 5px 0px !important;
}
.page6 .el-input--mini .el-input__inner {
  width: 100% !important;
  text-align: center !important;
  font-size: 0.9rem !important;
  color: black !important;
}
.page6 .el-select .el-input .el-select__caret {
  color: #fff !important;
}
.page6 .row1_col1 {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
  align-items: center;
}
.page6 .row1_col2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page6 .row_col3 {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page6 .row2 {
  height: 62%;
  border: 1px solid;
}
.page6 .one_row2 {
  height: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page6 .one_row2_rows1 {
  height: 100%;
  width: 92%;
  border: 1px solid #fff;
}
.page6 .row1 {
  height: 100%;
  font-size: 1rem;
}
.page6 .bottom_1 {
  height: 100%;
}
.page6 .bot_col2 {
  height: 100%;
}
.page6 .bot_col1 {
  height: 100%;
}
.page6 .tenhy_1 {
  height: 59%;
  width: 100%;
  background-color: rgba(37, 57, 68, 0.95);
}
.page6 .tenkh_1 {
  height: 40%;
  width: 100%;
  background-color: rgba(37, 57, 68, 0.95);
}
.page6 .border_x {
  height: 1%;
  width: 100%;
}
.page6 .border_x1 {
  height: 2px;
  width: 100%;
}
.page6 .border_x2 {
  height: 2px;
  width: 94%;
  margin-left: 3%;
  background-color: #6a7170;
}
.page6 .tenhy_held {
  height: 12%;
}
.page6 .tenhy_body {
  height: 88%;
}
.page6 .tenhy_held_btn {
  height: 18%;
}
.page6 .tenhy_body_btn {
  height: 82%;
}
.page6 .img_1 {
  background-size: 100% 100%;
  width: 60%;
  position: absolute;
  bottom: 0;
}
.page6 .bor_btom1_1 {
  height: 100%;
  width: 20%;
  float: left;
  border-bottom: 2px solid #fff;
  position: relative;
}
.page6 .bor_btom1_2 {
  height: 100%;
  width: 65%;
  margin-left: 20%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  text-align: left;
  display: flex;
  padding-bottom: 2px;
  align-items: flex-end;
}
.page6 .img_2 {
  background-size: 100% 100%;
  width: 61%;
  position: absolute;
  bottom: 0;
}
.page6 .bor_btom1_kh {
  height: 100%;
  width: 8%;
  float: left;
  position: relative;
  border-bottom: 2px solid #fff;
}
.page6 .bor_btom1_kh1 {
  height: 100%;
  width: 52%;
  margin-left: 8%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1vw;
  text-align: left;
  font-weight: bold;
  display: flex;
  padding-bottom: 2px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.page6 .bor_btom1_ckqk {
  height: 100%;
  width: 10%;
  float: left;
  border-bottom: 2px solid #fff;
  position: relative;
}
.page6 .bor_btom1_ckqk1 {
  height: 100%;
  width: 20%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1vw;
  text-align: left;
  font-weight: bold;
  float: left;
  display: flex;
  padding-bottom: 2px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.page6 .bor_btom1_ckqk2 {
  height: 100%;
  width: 70%;
  float: left;
  line-height: 50px;
}
.page6 .img_3 {
  background-size: 100% 100%;
  width: 60%;
  position: absolute;
  bottom: 0;
}
.page6 .ra1 {
  margin-left: 5%;
}
.page6 .ra2 {
  margin-left: 5%;
}
.page6 .ra_ty {
  color: #ffffff;
}
.page6 .bor_btom1_ckqk2 .el-radio__label {
  font-size: 0.9vw;
}
.page6 .bor_btom1_top {
  height: 100%;
  width: 14%;
  float: left;
  border-bottom: 2px solid #fff;
  position: relative;
}
.page6 .bor_btom1_top1 {
  height: 100%;
  width: 54%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1vw;
  text-align: left;
  font-weight: bold;
  float: left;
  display: flex;
  padding-bottom: 2px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.page6 .img_4 {
  background-size: 100% 100%;
  width: 60%;
  position: absolute;
  bottom: 0;
}
.page6 .wenzi {
  position: absolute;
  font-size: 1.1vw;
  margin-left: -5%;
  margin-top: 2%;
  color: #fff;
  font-weight: bold;
}
.page6 .bor_btom1_ckqk2 .el-radio__input.is-checked + .el-radio__label {
  color: #fff!important;
}
@media screen and (min-width: 1300px) and (max-width: 1370px) {
  .page6 .ra1 {
    margin-left: 2%;
  }
  .page6 .ra2 {
    margin-left: 2%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1290px) {
  .page6 .ra1 {
    margin-left: 0;
  }
}
